* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "segoe UI";
  line-height: 1;
  color: #333;
}
.app-container {
  display: flex;

}

.sidebar {
  background-color: #a8b3ca;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
  flex-basis: 250px;
}

.sidebar ul {
  list-style: none;
  margin-top: 10px;
}

.sidebar li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding:10px
}

.sidebar li, .sidebar li * {
  cursor: pointer;
}

.sidbar li.selected{
  background-color: rgb(164, 245, 239);
}

.sidbar .delete {
  margin-right: 8px;
  flex-shrink: 0;
  background-attachment: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.sidbar span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.main {
  padding: 20px;
  flex-grow: 1;
  background-color: rgb(196, 209, 202);
}

.main h2 {
  margin-bottom: 20px;
}

.main textarea {
  width: 100%;
  height: 400px;
  padding: 15px;
font-size: 15px;
border: none;
box-sizing: border-box;
resize: none;
}

.main textarea:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.save {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: .89;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#create {
  background-color: rgb(64, 64, 2);
  color: white;
}

::-webkit-scrollbar {
  width: 100px;
}

::-webkit-scrollbar-track{
  background-attachment: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f09292;
}